
body {
  font-family: sans-serif;
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1, h3 {
  text-align: center;
}

section {
  cursor: pointer;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

section img {
  width: 300px;
  height: 250px;
}

footer {
  text-align: center;
  background-color: #444;
  padding: .5em;
  position: relative;
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1040px) {
  main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
